<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Menu - <%= restaurant.name %></title>
</head>
<body>
    <%- include('./partials/nav') %> <!--- include nav.ejs partial --->
  <h1>Full Menu</h1>
    <p>Explore our delicious offerings below:</p>
    <% ['mains','desserts','sides'].forEach(cat => { %> 
    <h2><%= cat[0].toUpperCase() + cat.slice(1) %></h2> 
    <ul> <% menu.filter(i => i.category === cat).forEach(item => { %> 
        <li> 
            <h3><%= item.name %> <%= item.rating === 5 ? 'â­' : '' %></h3>
            <p><strong>Price:</strong> $<%= item.price.toFixed(2) %></p> 
            <p><strong>Rating:</strong> <%= item.rating %> / 5</p> 
            <p><strong>Details:</strong> 
            <%= item.details %></p> 
        </li> 
        <% }) %> 
    </ul> 
<% }) %> 
</body>
</html>


